{% extends "base.html" %}

{% block page_title %} Privacy {% endblock page_title %}

{% block content %}

<p>

 <h1 style="">Privacy Policy</h1>

Last Updated: [10/03/2024] <br>


At FocusHub, we are committed to protecting your privacy. This policy outlines how we collect, use, and safeguard your information when you visit our website.
<br>

1. Information We Collect <br>

We may collect the following types of information: <br>

Personal Information: When you subscribe to our newsletter, comment on articles, or contact us, we may ask for personal details such as your name and email address.
<br>

Usage Data: We collect information about how you interact with our site, including your IP address, browser type, pages visited, and time spent on the site.
<br>


2. How We Use Your Information

We use the information we collect to:

Provide and improve our services

Send you newsletters and updates (if you have opted in)

Respond to your inquiries

Analyze website usage to enhance user experience. <br>


3. Cookies

Our website uses cookies to enhance your experience. Cookies are small data files stored on your device. You can choose to accept or decline cookies through your browser settings.
<br>

4. Sharing Your Information

We do not sell or rent your personal information to third parties. We may share your information with trusted partners for the purpose of improving our services, but these parties are bound by confidentiality agreements.
<br>

5. Third-Party Links

Our site may contain links to third-party websites. We are not responsible for their content or privacy practices. We encourage you to review their privacy policies before providing any personal information.
<br>

6. Data Security

We take appropriate security measures to protect your personal information from unauthorized access, alteration, or disclosure.
<br>

7. Your Rights

You have the right to:

Access the personal information we hold about you

Request correction of any inaccurate information

Request deletion of your personal information. <br>


8. Changes to This Privacy Policy

We may update this privacy policy from time to time. Any changes will be posted on this page with an updated effective date.
<br>

9. Contact Us

If you have any questions or concerns about this privacy policy, please   <a href="{% url 'Contact us' %}">Contact us</a>.


</p>

{% endblock content %}