{% extends 'base.html' %}

{% block page_title %} Terms Of Service {% endblock page_title %}

{% block content %}
<h1>Terms Of Service</h1>
<hr>
<p><small>Last Updated: 21/09/2024</small></p>
<p>Welcome to FocusHub Media. By accessing or using our website, you agree to comply with and be bound by  the following terms and conditions.</p>
<p>Please read them carefully.</p>


    <p>Acceptance of Terms<br>
    By using FocusHub Media, you accept these Terms of service in full. if you do not agree, please do not use our site.<br>
    Use of the Site <br>
    You agree to use our website only for lawful purposes. you must not use the site in any way that violates applicable laws or regulations.<br>
    Content Ownership <br>
    All content on FocusHub Media, including articles, images, and graphics, is the property of FocusHub Media or our content contributors. Unauthorized use or reproduction of any content us prohibited.
        <br>
    Links to Third-Party websites <br>
    Our website may contain links to third-party sites. we do not control or endorse the content of these sites and are not  responsible for any damages or losses resulting from your use of them.
        <br>
    Disclaimers <br>
    The information provided on FocusHub Media  is for general informational purposes only. while we strive for accuracy, we do not guarantee the completeness or reliability of any information.
        <br>
    User-Generated Content <br>
    If you submit comments, articles or any other content to our site, you grant use a non-exclusive royalty-free licence to use, modify and publish that content. your submission do not infringe on any third-party rights.
        <br>
    Limitation of Liability <br>
    To the fullest extent permitted by law, FocusHub will not be liable for any direct, indirect, incidental or consequential damages arising from your use of our site. <BR>
    Changes to Terms <br>
    We reserve the right to modify these terms of service at any time. Any changes will be effective immediately upon posting. Your continued use of the site constitutes your acceptance of the updated terms.<br>
    Governing Law <br>
    These Terms of service are governed by the law of FocusHub. Any dispute arising from these terms will be resolved.<br>
    Contact Us <br>
    If you have any question about these terms of Service, please <a href="{% url 'Contact us' %}">Message us.</a>




{% endblock content %}